services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - ./beszel_data:/beszel_data
      - ./beszel_socket:/beszel_socket
      
  beszel-agent:
    image: henrygd/beszel-agent-intel
    cap_add:
      - CAP_PERFMON
    devices:
      - /dev/dri:/dev/dri
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./beszel_agent_data:/var/lib/beszel-agent
      - ./beszel_socket:/beszel_socket
      # monitor other disks / partitions by mounting a folder in /extra-filesystems
      # - /mnt/disk/.beszel:/extra-filesystems/sda1:ro
    environment:
      LISTEN: /beszel_socket/beszel.sock
      KEY: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKr0NRPSAHs9hia7jg9GDTASmystWpA93Ddnv0gTYUhb'
      TOKEN: 6837-515be65dd-4c76-1ed44004dc
      HUB_URL: http://doker.raw.lab.wsiwiec.com:8090