:root {
    --oled-black: #000000;
    --oled-lighter-black: #0a0a0a;
    --oled-dark-gray: #1a1a1a;
    --p--color--gray-740: var(--oled-black);
    --p--color--gray-780: var(--oled-lighter-black);
    --p--color--gray-800: var(--oled-black);
    --p--color--gray-820: var(--oled-black);

    --canvas-node--color--background: var(--oled-lighter-black);
    --border-color: var(--border-color-base, var(--p--color--gray-670));

    --color--foreground: var(--oled-lighter-black);
    --color--background: var(--oled-black);

    --p--color--alt-g-700-a-075: hsla(0, 0%, 0%, 0.75);
}

body:not([data-theme]) {
    --color--background: var(--oled-lighter-black);
}

.chat-message {
    --chat--message--user--background: var(--oled-lighter-black) !important;
    --chat--message--bot--background: var(--oled-dark-gray) !important;
}

.pill {
    --color--foreground--tint-1: var(--oled-dark-gray);
    --color--foreground--tint-2: var(--oled-dark-gray);
    --color--background--light-3: var(--oled-dark-gray);
}

* {
    color-scheme: dark;
    scrollbar-width: thin;
    scrollbar-color: hsl(202, 5%, 29%) transparent;
}

.n8n-radio-buttons {
    background-color: var(--oled-lighter-black);
}

.tab-bar-container {
    padding: 1px;
}

[data-test-id="menu-item"],
[data-test-id="nodes-list-header"] {
    background-color: var(--oled-black);
}

[data-test-id="ndv-input-panel"],
[data-test-id="output-panel"] {
    border: 1px solid var(--border-color);
}