services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data:/app/data
    networks:
      - proxy
    labels:
      caddy_0: uptime.wsiwiec.com
      caddy_0.route.import: crowdsec
      caddy_0.route.reverse_proxy: "{{upstreams 3001}}"
      caddy_1: uptime.lab.wsiwiec.com
      caddy_1.reverse_proxy: "{{upstreams 3001}}"
networks:
  proxy:
    external: true
