services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - caddy_data:/data
      - ./data/caddy_config:/config
      - ./data/caddy_config/Caddyfile:/etc/caddy/Caddyfile

  n8n:
    image: docker.n8n.io/n8nio/n8n #docker.n8n.io/n8nio/n8n:next unstable
    restart: always
    expose:
      - 5678
    environment:
      - N8N_HOST=n8n.localwsiwiec.com
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://n8n.localwsiwiec.com/
      - GENERIC_TIMEZONE=Europe/Warsaw
    volumes:
      - n8n_data:/home/node/.n8n
      - ./data/local_files:/files
      
volumes:
  caddy_data:
  n8n_data: