services:
  n8n:
    image: docker.n8n.io/n8nio/n8n #docker.n8n.io/n8nio/n8n:next unstable
    restart: unless-stopped
    expose:
      - 5678
    environment:
      N8N_COMMUNITY_PACKAGES_ENABLED: true
      N8N_HOST: n8n.lab.wsiwiec.com
      N8N_PORT: 5678
      N8N_PROTOCOL: https
      NODE_ENV: production
      WEBHOOK_URL: https://n8n.lab.wsiwiec.com/
      GENERIC_TIMEZONE: Europe/Warsaw
      # Task runners configuration
      N8N_RUNNERS_ENABLED: true
      N8N_RUNNERS_MODE: external
      N8N_RUNNERS_BROKER_LISTEN_ADDRESS: 0.0.0.0
      N8N_RUNNERS_AUTH_TOKEN: your-secret-token-here-change-this
      N8N_NATIVE_PYTHON_RUNNER: true
      # Telemetry opt-out
      N8N_DIAGNOSTICS_ENABLED: false
      # N8N_VERSION_NOTIFICATIONS_ENABLED: false
      # N8N_TEMPLATES_ENABLED: false
    volumes:
      - n8n_data:/home/node/.n8n
      - ./data:/files
    networks:
      - proxy
    labels:
      caddy: n8n.lab.wsiwiec.com
      caddy.reverse_proxy: "{{upstreams 5678}}"

  n8n-task-runners:
    image: n8nio/runners
    restart: unless-stopped
    environment:
      - N8N_RUNNERS_TASK_BROKER_URI=http://n8n:5679
      - N8N_RUNNERS_AUTH_TOKEN=your-secret-token-here-change-this
      - N8N_RUNNERS_AUTO_SHUTDOWN_TIMEOUT=15
    networks:
      - proxy
    depends_on:
      - n8n
  valkey:
    image: valkey/valkey:alpine
    container_name: valkey_n8n
    restart: unless-stopped
    volumes:
      - valkey_data:/data
  qdrant:
    image: qdrant/qdrant:latest-unprivileged
    container_name: qdrant_n8n
    restart: unless-stopped
    networks:
      - backend
      - proxy
    volumes:
      - qdrant_data:/qdrant/storage
    labels:
      caddy: qdrant.lab.wsiwiec.com
      caddy.reverse_proxy: "{{upstreams 6333}}"

networks:
  backend:
    external: true
  proxy:
    external: true
      
volumes:
  n8n_data:
  valkey_data:
  qdrant_data: